<a href="https://colab.research.google.com/github/Juancarlosyepez/Herramientas-de-Base-de-Datos-VIU/blob/master/Tarea_02_MongoDB_PyMongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MIGRACION Y VISUALIZACION DE BASE DE DATOS SQL A MONGODB ATLAS**

In [171]:
! python -m pip install pymongo==3.7.2

Requirement already satisfied: pymongo==3.7.2 in /usr/local/lib/python3.7/dist-packages (3.7.2)

# **Conectando Base de Datos de SQLite3 y MongoDB Atlas**

In [6]:

import sqlite3

conexion = sqlite3.connect('love4pets.db')
cursor = conexion.cursor()

In [27]:
import pymongo
from pymongo import MongoClient
uri = 'mongodb+srv://juank-y23:juank-y23key@cluster0.z6avn.mongodb.net/love4pets?retryWrites=true&w=majority'
client = MongoClient( uri )
db = client.love4pets

# **Verificando la coneccion de la base de datos de MongoDB Atlas**

In [2]:
client.stats

Database(MongoClient(host=['cluster0-shard-00-01.z6avn.mongodb.net:27017', 'cluster0-shard-00-00.z6avn.mongodb.net:27017', 'cluster0-shard-00-02.z6avn.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-qenjjp-shard-0', ssl=True, retrywrites=True, w='majority'), 'stats')

#**Migracion de la tabla Cliente sql a mongodb**

In [4]:
collection = db['cliente']
cursor.execute('SELECT * FROM cliente')
clientes = cursor.fetchall()
for usuario in clientes:
    collection.insert_one({
        "cliente_id": usuario[0],
        "nombre": usuario[1],
        "email": usuario[2],
        "telefono": usuario[3],
        "contacto": usuario[4],
        "telefono_contacto": usuario[5],
        "ciudad": usuario[6]
    })
documentos = db.cliente.find()
print(list(documentos))

[(1, 'Mario Flores Gallardo', 'marioflores@gmail.com', '036-15-36', 'Aintzane Alvarez Iglesias', '210-35-57', 'Madrid'), (2, 'Arnau Medina Garcia', 'arnaumedina@gmail.com', '094-10-88', '', '', 'Madrid'), (3, 'Ivan Medina Rubio', 'ivanmedina@gmail.com', '083-08-72', 'Javier Domenech', '488-48-46', 'Toledo'), (4, 'Jan Vargas Santana', 'vargasjan@gmail.com', '780-65-24', '', '', 'Madrid'), (5, 'Carlos Costa Guerrero', 'carloscostag@gmail.com', '180-65-24', 'Cristian Jimenez', '801-28-09', 'Madrid'), (6, 'Roberto Martin Ortega', 'robertmartin@gmail.com', '742-63-27', 'Jorge Vila Gallardo', '564-52-13', 'Madrid'), (7, 'Gabriel Gonzalez Ortega', 'gabogonzo@gmail.com', '780-13-14', 'Miguel Bosch Parra', '882-17-20', 'Madrid'), (8, 'Rayan Leon Ferrer', 'rayito@gmail.com', '430-65-24', 'Santiago Perez Ramos', '577-21-24', 'Madrid'), (9, 'Aitor Ruiz Sanchez', 'aitorsanchez@gmail.com', '780-77-24', 'Gabriel Gonzalez Ortega', '784-96-31', 'Madrid'), (10, 'Eric Rubio Carrasco', 'ericrubio@gmail.com', '780-65-79', 'Cristian Jimenez Martinez', '147-01-12', 'Madrid'), (11, 'Alberto Sanz Ruiz', 'albert@gmail.com', '781-15-24', 'Gabriel Gonzalez Ortega', '028-51-21', 'Madrid'), (12, 'Jesus Medina Hernandez', 'jmedinah@gmail.com', '782-35-25', 'Vctor Gonzalez Castillo', '661-85-12', 'Madrid'), (13, 'Pol Moya Pena', 'polmoya@gmail.com', '780-25-24', '', '', 'Toledo'), (14, 'Jose Gallardo Rodriguez', 'josegallardo@gmail.com', '783-65-11', 'Hector Martin Morales', '867-97-99', 'Madrid'), (15, 'Manuel Angel Gil', 'manano@gmail.com', '733-65-16', 'Hector Navarro', '067-97-91', 'Madrid')]

# **Migracion de la tabla departamento**

In [8]:
collection = db['departamento']
cursor.execute("SELECT * FROM departamento")
departamentos = cursor.fetchall()

#ingresamos datos a base de datos de mongodb
for usuario in departamentos:
    collection.insert_one({
        "departamento_id": usuario[0],
        "nombre": usuario[1]
    })
doc_names = db.departamento.find()
print(list(doc_names))

[{'_id': ObjectId('616b3b24ad37240b7afc4024'), 'departamento_id': 1, 'nombre': 'finanzas'}, {'_id': ObjectId('616b3b25ad37240b7afc4025'), 'departamento_id': 2, 'nombre': 'ventas'}, {'_id': ObjectId('616b3b25ad37240b7afc4026'), 'departamento_id': 3, 'nombre': 'recursos humanos'}, {'_id': ObjectId('616b3b26ad37240b7afc4027'), 'departamento_id': 4, 'nombre': 'marketing'}, {'_id': ObjectId('616b3b26ad37240b7afc4028'), 'departamento_id': 5, 'nombre': 'veterinario'}, {'_id': ObjectId('616b3b26ad37240b7afc4029'), 'departamento_id': 6, 'nombre': 'informatica'}, {'_id': ObjectId('616b3b26ad37240b7afc402a'), 'departamento_id': 7, 'nombre': 'investigacion'}, {'_id': ObjectId('616b3b7bad37240b7afc402b'), 'departamento_id': 1, 'nombre': 'finanzas'}, {'_id': ObjectId('616b3b7cad37240b7afc402c'), 'departamento_id': 2, 'nombre': 'ventas'}, {'_id': ObjectId('616b3b7cad37240b7afc402d'), 'departamento_id': 3, 'nombre': 'recursos humanos'}, {'_id': ObjectId('616b3b7cad37240b7afc402e'), 'departamento_id': 4, 'nombre': 'marketing'}, {'_id': ObjectId('616b3b7cad37240b7afc402f'), 'departamento_id': 5, 'nombre': 'veterinario'}, {'_id': ObjectId('616b3b7cad37240b7afc4030'), 'departamento_id': 6, 'nombre': 'informatica'}, {'_id': ObjectId('616b3b7cad37240b7afc4031'), 'departamento_id': 7, 'nombre': 'investigacion'}]

# **Migracion de la tabla detalle_orden**

In [12]:
collection = db['detalle_orden']
cursor.execute("SELECT * FROM detalle_orden")
detalles = cursor.fetchall()
#ingresamos datos a base de datos de mongodb
for usuario in detalles:
    collection.insert_one({
        "detalle_id": usuario[0],
        "orden_id": usuario[1],
        "producto_id": usuario[2],
        "cantidad": usuario[3],
        "precio": usuario[4]
    })
documentos = db.detalle_orden.find()
print(list(documentos))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  del sys.path[0]

[{'_id': ObjectId('616b3eddad37240b7afc4032'), 'detalle_id': 1, 'orden_id': 1, 'producto_id': 1, 'cantidad': 2, 'precio': 7}, {'_id': ObjectId('616b3eddad37240b7afc4033'), 'detalle_id': 2, 'orden_id': 1, 'producto_id': 3, 'cantidad': 2, 'precio': 3}, {'_id': ObjectId('616b3edead37240b7afc4034'), 'detalle_id': 3, 'orden_id': 1, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3edead37240b7afc4035'), 'detalle_id': 4, 'orden_id': 2, 'producto_id': 3, 'cantidad': 3, 'precio': 3}, {'_id': ObjectId('616b3edead37240b7afc4036'), 'detalle_id': 5, 'orden_id': 2, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3edead37240b7afc4037'), 'detalle_id': 6, 'orden_id': 3, 'producto_id': 8, 'cantidad': 2, 'precio': 15}, {'_id': ObjectId('616b3edead37240b7afc4038'), 'detalle_id': 7, 'orden_id': 4, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3edfad37240b7afc4039'), 'detalle_id': 8, 'orden_id': 5, 'producto_id': 8, 'cantidad': 1, 'precio': 15}, {'_id': ObjectId('616b3edfad37240b7afc403a'), 'detalle_id': 9, 'orden_id': 6, 'producto_id': 5, 'cantidad': 2, 'precio': 13}, {'_id': ObjectId('616b3edfad37240b7afc403b'), 'detalle_id': 10, 'orden_id': 7, 'producto_id': 4, 'cantidad': 3, 'precio': 12}, {'_id': ObjectId('616b3edfad37240b7afc403c'), 'detalle_id': 11, 'orden_id': 8, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3edfad37240b7afc403d'), 'detalle_id': 12, 'orden_id': 8, 'producto_id': 2, 'cantidad': 3, 'precio': 5}, {'_id': ObjectId('616b3ee0ad37240b7afc403e'), 'detalle_id': 13, 'orden_id': 9, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3ee0ad37240b7afc403f'), 'detalle_id': 14, 'orden_id': 10, 'producto_id': 3, 'cantidad': 2, 'precio': 33}, {'_id': ObjectId('616b3ee0ad37240b7afc4040'), 'detalle_id': 15, 'orden_id': 11, 'producto_id': 7, 'cantidad': 1, 'precio': 3}, {'_id': ObjectId('616b3ee0ad37240b7afc4041'), 'detalle_id': 16, 'orden_id': 12, 'producto_id': 2, 'cantidad': 3, 'precio': 5}, {'_id': ObjectId('616b3ee0ad37240b7afc4042'), 'detalle_id': 17, 'orden_id': 13, 'producto_id': 7, 'cantidad': 1, 'precio': 3}, {'_id': ObjectId('616b3ee1ad37240b7afc4043'), 'detalle_id': 18, 'orden_id': 13, 'producto_id': 5, 'cantidad': 2, 'precio': 13}, {'_id': ObjectId('616b3ee1ad37240b7afc4044'), 'detalle_id': 19, 'orden_id': 14, 'producto_id': 2, 'cantidad': 3, 'precio': 5}, {'_id': ObjectId('616b3ee1ad37240b7afc4045'), 'detalle_id': 20, 'orden_id': 14, 'producto_id': 7, 'cantidad': 1, 'precio': 3}, {'_id': ObjectId('616b3ee1ad37240b7afc4046'), 'detalle_id': 21, 'orden_id': 15, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3ee1ad37240b7afc4047'), 'detalle_id': 22, 'orden_id': 16, 'producto_id': 2, 'cantidad': 3, 'precio': 5}, {'_id': ObjectId('616b3ee1ad37240b7afc4048'), 'detalle_id': 23, 'orden_id': 17, 'producto_id': 7, 'cantidad': 1, 'precio': 3}, {'_id': ObjectId('616b3ee2ad37240b7afc4049'), 'detalle_id': 24, 'orden_id': 18, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3ee2ad37240b7afc404a'), 'detalle_id': 25, 'orden_id': 19, 'producto_id': 2, 'cantidad': 3, 'precio': 5}, {'_id': ObjectId('616b3ee2ad37240b7afc404b'), 'detalle_id': 26, 'orden_id': 20, 'producto_id': 5, 'cantidad': 4, 'precio': 13}, {'_id': ObjectId('616b3ee2ad37240b7afc404c'), 'detalle_id': 27, 'orden_id': 21, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3ee2ad37240b7afc404d'), 'detalle_id': 28, 'orden_id': 22, 'producto_id': 2, 'cantidad': 3, 'precio': 5}, {'_id': ObjectId('616b3ee3ad37240b7afc404e'), 'detalle_id': 29, 'orden_id': 22, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3ee3ad37240b7afc404f'), 'detalle_id': 30, 'orden_id': 23, 'producto_id': 7, 'cantidad': 1, 'precio': 3}, {'_id': ObjectId('616b3ee3ad37240b7afc4050'), 'detalle_id': 31, 'orden_id': 24, 'producto_id': 2, 'cantidad': 3, 'precio': 5}, {'_id': ObjectId('616b3ee3ad37240b7afc4051'), 'detalle_id': 32, 'orden_id': 24, 'producto_id': 5, 'cantidad': 1, 'precio': 13}, {'_id': ObjectId('616b3ee3ad37240b7afc4052'), 'detalle_id': 33, 'orden_id': 24, 'producto_id': 7, 'cantidad': 1, 'precio': 3}]

# **Migracion de la tabla empleado**

In [13]:
# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM empleado")
empleados = cursor.fetchall()
#ingresamos datos a la base de datos de mongodb
collection = db['empleado'] 
for usuario in empleados:
    collection.insert_one({
        "empleado_id": usuario[0],
        "nombre": usuario[1],
        "email": usuario[2],
        "telefono": usuario[3],
        "salario": usuario[4],
        "fecha_ingreso": usuario[5],
        "departamento_id": usuario[6]
    })
documentos = db.empleado.find()
print(list(documentos))

[{'_id': ObjectId('616b46cbad37240b7afc4053'), 'empleado_id': 1, 'nombre': 'Andres Riera Herrera', 'email': 'andresr@gmail.com', 'telefono': '200-88-76', 'salario': 1500, 'fecha_ingreso': '2017-05-17 00:00:000', 'departamento_id': 6}, {'_id': ObjectId('616b46ccad37240b7afc4054'), 'empleado_id': 2, 'nombre': 'Lucas Serrano Caballero', 'email': 'lucas99@gmail.com', 'telefono': '115-24-36', 'salario': 1200, 'fecha_ingreso': '2018-05-17 00:00:000', 'departamento_id': 2}, {'_id': ObjectId('616b46ccad37240b7afc4055'), 'empleado_id': 3, 'nombre': 'Pablo Pons Sanz', 'email': 'ppsanz@gmail.com', 'telefono': '748-72-75', 'salario': 1350, 'fecha_ingreso': '2016-07-01 00:00:000', 'departamento_id': 1}, {'_id': ObjectId('616b46ccad37240b7afc4056'), 'empleado_id': 4, 'nombre': 'Saul Moreno Santos', 'email': 'saul.morenosantos@gmail.com', 'telefono': '346-87-27', 'salario': 1600, 'fecha_ingreso': '2016-07-01 00:00:000', 'departamento_id': 1}, {'_id': ObjectId('616b46ccad37240b7afc4057'), 'empleado_id': 5, 'nombre': 'Nil Soler Diez', 'email': 'nilsoler@gmail.com', 'telefono': '576-84-28', 'salario': 1100, 'fecha_ingreso': '2016-04-03 00:00:000', 'departamento_id': 5}, {'_id': ObjectId('616b46ccad37240b7afc4058'), 'empleado_id': 6, 'nombre': 'Sergio Reyes Gallardo', 'email': 'zerg@gmail.com', 'telefono': '598-95-67', 'salario': 1000, 'fecha_ingreso': '2016-04-03 00:00:000', 'departamento_id': 5}, {'_id': ObjectId('616b46cdad37240b7afc4059'), 'empleado_id': 7, 'nombre': 'Isaac Jimenez Ortiz', 'email': 'isaacortiz@gmail.com', 'telefono': '370-19-65', 'salario': 1600, 'fecha_ingreso': '2016-07-08 00:00:000', 'departamento_id': 3}, {'_id': ObjectId('616b46cdad37240b7afc405a'), 'empleado_id': 8, 'nombre': 'Guillermo Vidal Gomez', 'email': 'guillevidal@gmail.com', 'telefono': '099-05-68', 'salario': 1400, 'fecha_ingreso': '2016-01-03 00:00:000', 'departamento_id': 3}, {'_id': ObjectId('616b46cdad37240b7afc405b'), 'empleado_id': 9, 'nombre': 'Daniel Quintero Quintero', 'email': 'danielquinterox2@gmail.com', 'telefono': '261-97-06', 'salario': 1500, 'fecha_ingreso': '2017-03-05 00:00:000', 'departamento_id': 6}, {'_id': ObjectId('616b46cdad37240b7afc405c'), 'empleado_id': 10, 'nombre': 'Juan Manuel Olivares', 'email': 'juanma@gmail.com', 'telefono': '269-37-06', 'salario': 1500, 'fecha_ingreso': '2017-03-05 00:00:000', 'departamento_id': None}, {'_id': ObjectId('616b46cdad37240b7afc405d'), 'empleado_id': 11, 'nombre': 'Miguel Soto', 'email': 'misoto@gmail.com', 'telefono': '269-92-06', 'salario': 1900, 'fecha_ingreso': '2017-03-05 00:00:000', 'departamento_id': 6}, {'_id': ObjectId('616b46cead37240b7afc405e'), 'empleado_id': 12, 'nombre': 'Alejandro Fernandez', 'email': 'alefer@gmail.com', 'telefono': '119-91-16', 'salario': 1850, 'fecha_ingreso': '2017-03-05 00:00:000', 'departamento_id': 6}]

# **Migracion de la tabla mascota**

In [14]:
coleccion = db['mascota']
cursor.execute('SELECT * FROM mascota')
mascotas = cursor.fetchall()
for mascota in mascotas:
    coleccion.insert_one({
        "mascota_id": mascota[0],
        "nombre": mascota[1],
        "cliente_id": mascota[2],
        "especie": mascota[3],
        "raza": mascota[4],
        "fecha_nacimiento":mascota[5]
    })

documentos = db.mascota.find()
print(list(documentos))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  del sys.path[0]

[{'_id': ObjectId('616b482cad37240b7afc405f'), 'mascota_id': 1, 'nombre': 'Luna', 'cliente_id': 2, 'especie': 'gato', 'raza': 'mestizo', 'fecha_nacimiento': '2009-01-01 00:00:000'}, {'_id': ObjectId('616b482cad37240b7afc4060'), 'mascota_id': 2, 'nombre': 'Sole', 'cliente_id': 3, 'especie': 'gato', 'raza': 'mestizo', 'fecha_nacimiento': '2010-02-01 00:00:000'}, {'_id': ObjectId('616b482dad37240b7afc4061'), 'mascota_id': 3, 'nombre': 'Mida', 'cliente_id': 3, 'especie': 'perro', 'raza': 'Caint terrier', 'fecha_nacimiento': '2007-02-03 00:00:000'}, {'_id': ObjectId('616b482dad37240b7afc4062'), 'mascota_id': 4, 'nombre': 'Tara', 'cliente_id': 5, 'especie': 'perro', 'raza': 'Puddle', 'fecha_nacimiento': '2006-02-03 00:00:000'}, {'_id': ObjectId('616b482dad37240b7afc4063'), 'mascota_id': 5, 'nombre': 'Pelusa', 'cliente_id': 6, 'especie': 'perro', 'raza': 'Puddle', 'fecha_nacimiento': '2008-02-03 00:00:000'}, {'_id': ObjectId('616b482dad37240b7afc4064'), 'mascota_id': 6, 'nombre': 'irene', 'cliente_id': 7, 'especie': 'gato', 'raza': 'siames', 'fecha_nacimiento': '2015-02-03 00:00:000'}, {'_id': ObjectId('616b482dad37240b7afc4065'), 'mascota_id': 7, 'nombre': 'sara', 'cliente_id': 8, 'especie': 'gato', 'raza': 'mestizo', 'fecha_nacimiento': '2016-05-01 00:00:000'}, {'_id': ObjectId('616b482dad37240b7afc4066'), 'mascota_id': 8, 'nombre': 'milo', 'cliente_id': 11, 'especie': 'gato', 'raza': 'mestizo', 'fecha_nacimiento': '2016-09-01 00:00:000'}, {'_id': ObjectId('616b482ead37240b7afc4067'), 'mascota_id': 9, 'nombre': 'oliver', 'cliente_id': 11, 'especie': 'gato', 'raza': 'mestizo', 'fecha_nacimiento': '2016-07-07 00:00:000'}, {'_id': ObjectId('616b482ead37240b7afc4068'), 'mascota_id': 10, 'nombre': 'Duke', 'cliente_id': 14, 'especie': 'perro', 'raza': 'Pastor Aleman', 'fecha_nacimiento': '2011-05-03 00:00:000'}]

# **Migracion de la tabla orden**

In [15]:
coleccion = db['orden']
cursor.execute("select * from orden")
ordenes = cursor.fetchall()

for orden in ordenes:
    coleccion.insert_one({
        "orden_id":orden[0],
        "cliente_id":orden[1],
        "fecha":orden[2]
    })

documentos = db.orden.find()
print(list(documentos))

[{'_id': ObjectId('616b48d1ad37240b7afc4069'), 'orden_id': 1, 'cliente_id': 2, 'fecha': '2017-01-01 00:00:000'}, {'_id': ObjectId('616b48d1ad37240b7afc406a'), 'orden_id': 2, 'cliente_id': 1, 'fecha': '2018-02-01 00:00:000'}, {'_id': ObjectId('616b48d1ad37240b7afc406b'), 'orden_id': 3, 'cliente_id': 2, 'fecha': '2016-03-01 00:00:000'}, {'_id': ObjectId('616b48d1ad37240b7afc406c'), 'orden_id': 4, 'cliente_id': 3, 'fecha': '2016-04-01 00:00:000'}, {'_id': ObjectId('616b48d1ad37240b7afc406d'), 'orden_id': 5, 'cliente_id': 4, 'fecha': '2017-05-01 00:00:000'}, {'_id': ObjectId('616b48d2ad37240b7afc406e'), 'orden_id': 6, 'cliente_id': 5, 'fecha': '2016-06-01 00:00:000'}, {'_id': ObjectId('616b48d2ad37240b7afc406f'), 'orden_id': 7, 'cliente_id': 11, 'fecha': '2017-07-01 00:00:000'}, {'_id': ObjectId('616b48d2ad37240b7afc4070'), 'orden_id': 8, 'cliente_id': 2, 'fecha': '2017-01-01 00:00:000'}, {'_id': ObjectId('616b48d2ad37240b7afc4071'), 'orden_id': 9, 'cliente_id': 6, 'fecha': '2018-08-01 00:00:000'}, {'_id': ObjectId('616b48d2ad37240b7afc4072'), 'orden_id': 10, 'cliente_id': 2, 'fecha': '2017-01-01 00:00:000'}, {'_id': ObjectId('616b48d2ad37240b7afc4073'), 'orden_id': 11, 'cliente_id': 6, 'fecha': '2017-09-01 00:00:000'}, {'_id': ObjectId('616b48d3ad37240b7afc4074'), 'orden_id': 12, 'cliente_id': 12, 'fecha': '2018-01-01 00:00:000'}, {'_id': ObjectId('616b48d3ad37240b7afc4075'), 'orden_id': 13, 'cliente_id': 2, 'fecha': '2017-01-11 00:00:000'}, {'_id': ObjectId('616b48d3ad37240b7afc4076'), 'orden_id': 14, 'cliente_id': 7, 'fecha': '2018-01-01 00:00:000'}, {'_id': ObjectId('616b48d3ad37240b7afc4077'), 'orden_id': 15, 'cliente_id': 9, 'fecha': '2017-01-13 00:00:000'}, {'_id': ObjectId('616b48d3ad37240b7afc4078'), 'orden_id': 16, 'cliente_id': 2, 'fecha': '2015-01-01 00:00:000'}, {'_id': ObjectId('616b48d4ad37240b7afc4079'), 'orden_id': 17, 'cliente_id': 8, 'fecha': '2017-01-01 00:00:000'}, {'_id': ObjectId('616b48d4ad37240b7afc407a'), 'orden_id': 18, 'cliente_id': 2, 'fecha': '2014-01-01 00:00:000'}, {'_id': ObjectId('616b48d4ad37240b7afc407b'), 'orden_id': 19, 'cliente_id': 13, 'fecha': '2016-01-01 00:00:000'}, {'_id': ObjectId('616b48d4ad37240b7afc407c'), 'orden_id': 20, 'cliente_id': 2, 'fecha': '2017-01-01 00:00:000'}, {'_id': ObjectId('616b48d4ad37240b7afc407d'), 'orden_id': 21, 'cliente_id': 10, 'fecha': '2015-01-01 00:00:000'}, {'_id': ObjectId('616b48d4ad37240b7afc407e'), 'orden_id': 22, 'cliente_id': 11, 'fecha': '2017-01-01 00:00:000'}, {'_id': ObjectId('616b48d5ad37240b7afc407f'), 'orden_id': 23, 'cliente_id': 14, 'fecha': '2011-01-01 00:00:000'}, {'_id': ObjectId('616b48d5ad37240b7afc4080'), 'orden_id': 24, 'cliente_id': 3, 'fecha': '2017-01-01 00:00:000'}]

# **Migracion de la tabla producto**

In [16]:
coleccion = db['producto']

cursor.execute('select * from producto')
productos = cursor.fetchall()

for document in productos:
    coleccion.insert_one({
        "producto_id":document[0],
        "nombre":document[1],
        "descripcion":document[2],
        "precio":document[3]
    })

documentos = db.producto.find()
print(list(documentos))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  # This is added back by InteractiveShellApp.init_path()

[{'_id': ObjectId('616b4965ad37240b7afc4081'), 'producto_id': 1, 'nombre': 'Champu Mimadito', 'descripcion': 'Champu neutro para mascotas', 'precio': 7}, {'_id': ObjectId('616b4965ad37240b7afc4082'), 'producto_id': 2, 'nombre': 'Vitaminas', 'descripcion': 'Complemento vitaminico', 'precio': 5}, {'_id': ObjectId('616b4965ad37240b7afc4083'), 'producto_id': 3, 'nombre': 'Antipulgas', 'descripcion': 'Liquido antipulgas', 'precio': 3}, {'_id': ObjectId('616b4966ad37240b7afc4084'), 'producto_id': 4, 'nombre': 'Perrarina', 'descripcion': 'Huesos', 'precio': 12}, {'_id': ObjectId('616b4966ad37240b7afc4085'), 'producto_id': 5, 'nombre': 'Gatarina', 'descripcion': 'Catspettito', 'precio': 13}, {'_id': ObjectId('616b4966ad37240b7afc4086'), 'producto_id': 6, 'nombre': 'Peine N7', 'descripcion': 'Peine para perros numero 7', 'precio': 3}, {'_id': ObjectId('616b4966ad37240b7afc4087'), 'producto_id': 7, 'nombre': 'peluqueria', 'descripcion': 'Corte de cabello para perros', 'precio': 3}, {'_id': ObjectId('616b4966ad37240b7afc4088'), 'producto_id': 8, 'nombre': 'Consulta', 'descripcion': 'Consulta veterinaria', 'precio': 15}]

# **Migracion de la tabla proveedor**

In [17]:
coleccion = db['proveedor']

cursor.execute('select * from proveedor')
proveedores = cursor.fetchall()

for proveedor in proveedores:
    coleccion.insert_one({
        "proveedor_id":proveedor[0],
        "nombre":proveedor[1],
        "email":proveedor[2],
        "telefono":proveedor[3]
    })

documentos = db.proveedor.find()
print(list(documentos))

[{'_id': ObjectId('616b49faad37240b7afc4089'), 'proveedor_id': 1, 'nombre': 'Pets prov', 'email': 'petsprov@gmail.com', 'telefono': '818853151'}, {'_id': ObjectId('616b49faad37240b7afc408a'), 'proveedor_id': 2, 'nombre': 'maxipet', 'email': 'maxipet@gmail.com', 'telefono': '8650001508'}, {'_id': ObjectId('616b49fbad37240b7afc408b'), 'proveedor_id': 3, 'nombre': 'adorables mascotas', 'email': 'adorablesmascotas@gmail.com', 'telefono': '7150383416'}, {'_id': ObjectId('616b49fbad37240b7afc408c'), 'proveedor_id': 4, 'nombre': 'huesitos', 'email': 'huesitos@gmail.com', 'telefono': '6640163977'}]

# **Migracion de la tabla suministro**

In [18]:
coleccion = db['suministro']
cursor.execute('select * from suministro')
suministros = cursor.fetchall()

for document in suministros:
    coleccion.insert_one({
        "proveedor_id":document[0],
        "producto_id":document[1],
        "cantidad":document[2],
        "fecha":document[3]
    })

documentos = db.suministro.find()
print(list(documentos))

[{'_id': ObjectId('616b4a44ad37240b7afc408d'), 'proveedor_id': 3, 'producto_id': 1, 'cantidad': 30, 'fecha': '2015-01-01 00:00:000'}, {'_id': ObjectId('616b4a45ad37240b7afc408e'), 'proveedor_id': 3, 'producto_id': 2, 'cantidad': 10, 'fecha': '2015-01-01 00:00:000'}, {'_id': ObjectId('616b4a45ad37240b7afc408f'), 'proveedor_id': 2, 'producto_id': 3, 'cantidad': 5, 'fecha': '2015-01-01 00:00:000'}, {'_id': ObjectId('616b4a45ad37240b7afc4090'), 'proveedor_id': 2, 'producto_id': 4, 'cantidad': 5, 'fecha': '2015-01-01 00:00:000'}, {'_id': ObjectId('616b4a45ad37240b7afc4091'), 'proveedor_id': 1, 'producto_id': 5, 'cantidad': 5, 'fecha': '2015-01-01 00:00:000'}, {'_id': ObjectId('616b4a45ad37240b7afc4092'), 'proveedor_id': 4, 'producto_id': 6, 'cantidad': 5, 'fecha': '2015-01-01 00:00:000'}]

# **Modificacion los valores de tipo string a numerico de la columna telefono de la collecion proveedor**

In [20]:
collection = db.proveedor
telefono_list = list(collection.distinct('telefono'))
for num in telefono_list:
  collection.update_many({'telefono':num},{'$set':{'telefono':int(num)}})

# **Cerrando coneccion de la base de datos de SQLite3**

In [22]:
conexion.close()

#**VISUALIZACION DE COLECCIONES DESDE LA BASE DE DATOS DE MONGODB ATLAS**

In [33]:
import pandas as pd
pd.options.display.max_columns = None

# Coleccion Cliente

In [37]:
documentos = db.cliente.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

,_id,cliente_id,nombre,email,telefono,contacto,telefono_contacto,ciudad
0,616b35cead37240b7afc4014,1,Mario Flores Gallardo,marioflores@gmail.com,036-15-36,Aintzane Alvarez Iglesias,210-35-57,Madrid
1,616b35d0ad37240b7afc4015,2,Arnau Medina Garcia,arnaumedina@gmail.com,094-10-88,,,Madrid
2,616b35d0ad37240b7afc4016,3,Ivan Medina Rubio,ivanmedina@gmail.com,083-08-72,Javier Domenech,488-48-46,Toledo
3,616b35d0ad37240b7afc4017,4,Jan Vargas Santana,vargasjan@gmail.com,780-65-24,,,Madrid
4,616b35d0ad37240b7afc4018,5,Carlos Costa Guerrero,carloscostag@gmail.com,180-65-24,Cristian Jimenez,801-28-09,Madrid

# Coleccion Departamento

In [38]:
documentos = db.departamento.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

                        _id  departamento_id            nombre
0  616b3b24ad37240b7afc4024                1          finanzas
1  616b3b25ad37240b7afc4025                2            ventas
2  616b3b25ad37240b7afc4026                3  recursos humanos
3  616b3b26ad37240b7afc4027                4         marketing
4  616b3b26ad37240b7afc4028                5       veterinario

# Coleccion Detalle de Orden

In [39]:
documentos = db.detalle_orden.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

,_id,detalle_id,orden_id,producto_id,cantidad,precio
0,616b3eddad37240b7afc4032,1,1,1,2,7
1,616b3eddad37240b7afc4033,2,1,3,2,3
2,616b3edead37240b7afc4034,3,1,5,1,13
3,616b3edead37240b7afc4035,4,2,3,3,3
4,616b3edead37240b7afc4036,5,2,5,1,13

# Coleccion Empleado

In [40]:
documentos = db.empleado.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

,_id,empleado_id,nombre,email,telefono,salario,fecha_ingreso,departamento_id
0,616b46cbad37240b7afc4053,1,Andres Riera Herrera,andresr@gmail.com,200-88-76,1500,2017-05-17 00:00:000,6.0
1,616b46ccad37240b7afc4054,2,Lucas Serrano Caballero,lucas99@gmail.com,115-24-36,1200,2018-05-17 00:00:000,2.0
2,616b46ccad37240b7afc4055,3,Pablo Pons Sanz,ppsanz@gmail.com,748-72-75,1350,2016-07-01 00:00:000,1.0
3,616b46ccad37240b7afc4056,4,Saul Moreno Santos,saul.morenosantos@gmail.com,346-87-27,1600,2016-07-01 00:00:000,1.0
4,616b46ccad37240b7afc4057,5,Nil Soler Diez,nilsoler@gmail.com,576-84-28,1100,2016-04-03 00:00:000,5.0

# Coleccion Mascota

In [41]:
documentos = db.mascota.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

,_id,mascota_id,nombre,cliente_id,especie,raza,fecha_nacimiento
0,616b482cad37240b7afc405f,1,Luna,2,gato,mestizo,2009-01-01 00:00:000
1,616b482cad37240b7afc4060,2,Sole,3,gato,mestizo,2010-02-01 00:00:000
2,616b482dad37240b7afc4061,3,Mida,3,perro,Caint terrier,2007-02-03 00:00:000
3,616b482dad37240b7afc4062,4,Tara,5,perro,Puddle,2006-02-03 00:00:000
4,616b482dad37240b7afc4063,5,Pelusa,6,perro,Puddle,2008-02-03 00:00:000

# Coleccion Orden

In [43]:
documentos = db.orden.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

                        _id  orden_id  cliente_id                 fecha
0  616b48d1ad37240b7afc4069         1           2  2017-01-01 00:00:000
1  616b48d1ad37240b7afc406a         2           1  2018-02-01 00:00:000
2  616b48d1ad37240b7afc406b         3           2  2016-03-01 00:00:000
3  616b48d1ad37240b7afc406c         4           3  2016-04-01 00:00:000
4  616b48d1ad37240b7afc406d         5           4  2017-05-01 00:00:000

# Coleccion Producto

In [44]:
documentos = db.producto.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

,_id,producto_id,nombre,descripcion,precio
0,616b4965ad37240b7afc4081,1,Champu Mimadito,Champu neutro para mascotas,7
1,616b4965ad37240b7afc4082,2,Vitaminas,Complemento vitaminico,5
2,616b4965ad37240b7afc4083,3,Antipulgas,Liquido antipulgas,3
3,616b4966ad37240b7afc4084,4,Perrarina,Huesos,12
4,616b4966ad37240b7afc4085,5,Gatarina,Catspettito,13

# Coleccion Proveedor

In [45]:
documentos = db.proveedor.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

,_id,proveedor_id,nombre,email,telefono
0,616b49faad37240b7afc4089,1,Pets prov,petsprov@gmail.com,818853151
1,616b49faad37240b7afc408a,2,maxipet,maxipet@gmail.com,8650001508
2,616b49fbad37240b7afc408b,3,adorables mascotas,adorablesmascotas@gmail.com,7150383416
3,616b49fbad37240b7afc408c,4,huesitos,huesitos@gmail.com,6640163977

# Coleccion Suministro

In [46]:
documentos = db.suministro.find()
data = list(documentos)
df = pd.DataFrame(data)
df.head()

,_id,proveedor_id,producto_id,cantidad,fecha
0,616b4a44ad37240b7afc408d,3,1,30,2015-01-01 00:00:000
1,616b4a45ad37240b7afc408e,3,2,10,2015-01-01 00:00:000
2,616b4a45ad37240b7afc408f,2,3,5,2015-01-01 00:00:000
3,616b4a45ad37240b7afc4090,2,4,5,2015-01-01 00:00:000
4,616b4a45ad37240b7afc4091,1,5,5,2015-01-01 00:00:000